{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
    <title>پلنیت - {% block title %}{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" type="image/png" href="{% static 'logos/favicon.png' %}"/>
		<link rel="stylesheet" href="{% static "tabler-icons/tabler-icons.min.css" %}">
		{% tailwind_css %}
	</head>

	<body class="{% block body-style %}{% endblock body-style %} font-vazir" {% block body-attrs %}{% endblock body-attrs %}>
		{% block body-content %}
			<h1>testy</h1>
		{% endblock body-content %}
	</body>
</html>
