{% extends "base.html" %}
{% load static %}

{% block title %}احراز هویت{% endblock title %}

{% block body-style %}flex flex-col justify-center items-center bg-gradient-to-br from-[#000E1F] to-[#3A4451] min-h-[100vh]{% endblock body-style %}

{% block body-content %}
<img src="{% static "logos/logo.png" %}" class="mb-8">
<form method="POST" class="flex flex-col bg-feature-box rounded-lg md:w-96 max-md:max-w-[384px] sm:px-10 px-8 max-sm:mx-2 py-6 shadow-[0px_4px_50px_2px_#00000025]">
    {% csrf_token %}
    <div id="fields">
        {% block fields %}{% endblock fields %}
    </div>
    <button type="submit" class="bg-[#191C27] text-white rounded-md mt-8 w-full py-3">ثبت نام</button>
    <p class="text-white text-sm mt-4">
        {% block extra-links %}{% endblock extra-links %}
    </p>
    <div class="flex justify-between mt-4 flex-wrap">
        {% block social-auth %}{% endblock social-auth %}
    </div>
</form>
{% endblock body-content %}