{% load static %}
<nav class="min-w-[16rem] w-72 bg-[#28303A] flex flex-col py-4 px-3 justify-between">
    <header>
        <a href="{% url "landing:home" %}" class="w-full flex justify-between items-center mb-4">
            <img src="{% static "logos/logo.png" %}" class="w-28">
        </a>
        <ul id="menu" class="flex flex-col w-full my-2">
            <li class="my-1">
				<a href="{% url "dashboard:overview" %}" class="w-full p-1.5  flex items-center text-menu-item text-sm rounded-md hover:bg-[#2F3741] {% if curr == "overview" %} border border-gray-600 bg-[#2F3741]{% else %} {{ curr }} {% endif %}">
                    <i class="ti ti-home text-xl mx-1 text-gray-300"></i>
                    نمای کلی
                </a>
            </li>
            <div class="h-[1px] w-full bg-gray-700 my-2"></div>
            <li class="my-1">
                <a href="{% url "dashboard:tasks-list" %}" class="w-full p-1.5 flex items-center text-menu-item text-sm rounded-md hover:bg-[#2F3741]  {% if curr == "tasks" %} border border-gray-600 bg-[#2F3741]{% else %} {{ curr }} {% endif %}">
                    <i class="ti ti-list-check text-xl mx-1 text-gray-300"></i>
                    کار ها
                </a>
            </li>
			<li class="my-1">
				<a href="{% url "dashboard:reminders-list" %}" class="w-full p-1.5 flex items-center text-menu-item text-sm rounded-md hover:bg-[#2F3741]  {% if curr == "reminders" %} border border-gray-600 bg-[#2F3741]{% else %} {{ curr }} {% endif %}">
					<i class="ti ti-clock text-xl mx-1 text-gray-300 "></i>
					یادآور ها
				</a>
			</li>
            <li class="my-1">
                <a href="{% url "dashboard:notes-list" %}" class="w-full p-1.5 flex items-center text-menu-item text-sm rounded-md hover:bg-[#2F3741] {% if curr == "notes" %} border border-gray-600 bg-[#2F3741]{% else %} {{ curr }} {% endif %} ">
                    <i class="ti ti-note text-xl mx-1 text-gray-300"></i>
                    یادداشت ها
                </a>
            </li>
            <li class="my-1">
                <a href="/" class="w-full p-1.5 flex items-center text-menu-item text-sm rounded-md hover:bg-[#2F3741]  {% if curr == "projects" %} border border-gray-600 bg-[#2F3741]{% else %} {{ curr }} {% endif %}">
                    <i class="ti ti-code text-xl mx-1 text-gray-300 "></i>
                    پروژه ها
                </a>
            </li>
            <li class="my-1">
                <a href="/" class="w-full p-1.5 flex items-center text-menu-item text-sm rounded-md hover:bg-[#2F3741]">
                    <i class="ti ti-calendar-event text-xl mx-1 text-gray-300"></i>
                    لیست ها
                </a>
            </li>
            <div class="h-[1px] w-full bg-gray-700 my-2"></div>
            <li class="my-1">
                <a href="/" class="w-full p-1.5 flex items-center text-menu-item text-sm rounded-md hover:bg-[#2F3741]">
                    <i class="ti ti-settings text-xl mx-1 text-[#8f8f8f]"></i>
                    تنظیمات
                </a>
            </li>
        </ul>
    </header>
    <footer>
        <a href="{% url "accounts:logout" %}" class="text-white py-2 mx-2 text-center rounded-lg border border-gray-500 text-xs block cursor-pointer hover:border-gray-600 transition-all">خروج از حساب</a>
    </footer>
</nav>
